body {
    font-family: sans-serif;
    text-align: center;
    background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
    color: #fff;
    padding-top: 10vh;
}

#word {
    font-size: 12vh;
}

#translation {
    font-size: 4vh;
    font-weight: light;
    opacity: 0.5;
}

#skip {
    display: none;
    margin: 10vh auto;
}
